# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
*.log
/tmp
*.tmp
*.tmp.*
/out-tsc
/deploy
/screenshots
$RECYCLE.BIN/

# dependencies
/node_modules
/bower_components
package-lock.json

# IDEs and editors
/.idea
.c9/
.tmp/
temp/
hooks/
platforms/
.versions/
.sourcemaps/
.project
.classpath
plugins/
plugins/android.json
plugins/ios.json
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dart
/.pub
/.packages
/packages
/pubspec.lock
/src/.pub
/src/.packages
/src/packages
/src/pubspec.lock

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log*
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome